/* You can add global styles to this file, and also import other style files */

button{
    border: none;
    color: white;
    padding: 8px 16px;
    cursor: pointer;
}

.button-blue{
    background-color: blue;
}
.button-red{
    background-color: red;
}
